---
import Navlink from "./Navlink.astro";

export const Sections = {
  HOME: "home",
  PROGRAM: "program",
  MAPA: "mapa",
  DOTAZNIK: "dotaznik",
  BARVY: "barvy",
  DARY: "dary",
};
---

<nav>
  <h2>Adél <span class="accent">&</span> Honza</h2>
  <div class="links">
    <Navlink sectionId={Sections.HOME} label="Úvod" />
    <Navlink sectionId={Sections.PROGRAM} label="Program" />
    <Navlink sectionId={Sections.MAPA} label="Mapa" />
    <Navlink sectionId={Sections.DOTAZNIK} label="Dotazník" />
    <Navlink sectionId={Sections.BARVY} label="Barvy" />
  </div>

  <style>
    .links {
      display: flex;
      gap: 20px;
    }

    .accent {
      color: var(--main);
    }
    nav {
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      padding: 10px;
      height: var(--headerHeight);
      position: fixed;
      top: 0px;
      width: 100%;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      z-index: 100;
    }

    @media (max-width: 600px) {
      nav {
        justify-content: center;
      }
      .links {
        display: none;
      }
    }
    h2 {
      text-wrap: nowrap;
    }
  </style>
</nav>
